<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tuusuario.myapp" version="1.0.0">
    <name>Mi App</name>
    <description>Aplicación creada desde archivos web</description>
    <author email="tu@email.com">Tu Nombre</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
